    {% set pageName = 'Me Indica Aê - Viva Benx Vila Mariana - Blacklist' %}
    {% include "partials/elements/head.html" %}

    <section class="sucesso">
        <div class="container">
            <div class="row justify-content-center vh-100">
                <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12 align-self-center">
                    <div class="box text-center">
                        <!-- google safe browsing -->
                        <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fmeindicaae.netlify.app%2F" target="_blank" class="googlesafebrowsing">
                            <img src="images/SafeBrowsing_Icon.png" alt="Google Safe Browsing" title="Google Site Seguro" class="img-fluid">
                            <span>Site seguro</span>
                        </a>
                        <!-- parceiro -->
                        <a href="https://www.vivabenx.com.br/empreendimento/viva-benx-vila-mariana" target="_blank" class="logo-parceiro">
                            <img src="images/logo-benx-vlm.png">
                        </a>
                        <!-- logo -->
                        <a href="/">
                            <img src="images/logo.jpg" class="logo" alt="Me Indica Aê - Indicações de Prestadores de Serviços para o Condomínio" data-toggle="tooltip" data-placement="bottom" title="Me Indica Aê - Indicações de Prestadores de Serviços para o Condomínio">
                        </a>

                        <h1>Me Indica Aê!</h1>
                        <h2>Blacklist</h2>

                        <p class="mb-4">Lista de profissionais e empresas que <b>não prestaram bons serviços</b> e/ou que tiveram <b>relatos de problemas</b> informados por moradores.</p>
                        
                        <!-- lista de profissionais indicados -->
                        <div class="row listaprofissionais" id="blacklist">
                            <span class="spinner">&nbsp;</span>
                        </div>
                        
                        <a href="/relatar-problema.html" class="btn btn-dark mt-4 d-block" role="button">Relatar um problema</a>
                    </div>
                </div>
            </div>
        </div>
    </section>