    {% set pageName = 'Me Indica Aê - Viva Benx Vila Mariana - Profissionais indicados' %}
    {% set pageURL = 'https://meindicaae.netlify.app/profissionais.html' %}

    {% include "partials/elements/head.html" %}

    <section class="profissionais">
        <div class="container">
            <div class="row justify-content-center"> <!-- vh-100 -->
                <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12">
                    <div class="box text-center">
                        <!-- google safe browsing -->
                        <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fmeindicaae.netlify.app%2F" target="_blank" class="googlesafebrowsing">
                            <img src="images/SafeBrowsing_Icon.png" alt="Google Safe Browsing" title="Google Site Seguro" class="img-fluid">
                            <span>Site seguro</span>
                        </a>
                        <!-- parceiro -->
                        <a href="https://www.vivabenx.com.br/empreendimento/viva-benx-vila-mariana" target="_blank" class="logo-parceiro">
                            <img src="images/logo-benx-vlm.png">
                        </a>
                        <!-- logo -->
                        <a href="/">
                            <img src="images/logo.jpg" class="logo" alt="Me Indica Aê - Indicações de Prestadores de Serviços para o Condomínio" data-toggle="tooltip" data-placement="bottom" title="Me Indica Aê - Indicações de Prestadores de Serviços para o Condomínio">
                        </a>

                        <h1>Me Indica Aê!</h1>
                        <h2>Galera indicada por nós!</h2>
                        <p>Veja os últimos adicionados recentemente. <br>Também poderá buscar por categoria:</p>
                        
                        <!-- fitro -->
                        <div class="form-group text-left mb-4">
                            <label for="categoriaprofissional">Filtrar:</label>
                            <select class="form-control" id="categoriaprofissional" name="categoriaprofissional">
                                    <option value="todos">Todas as categorias</option>
                                    <option value="Arquiteto">Arquiteto</option>
                                    <option value="Automação residencial">Automação residencial</option>
                                    <option value="Artista plástico">Artista plástico</option>
                                    <option value="Azulejista">Azulejista</option>
                                    <option value="Chaveiro">Chaveiro</option>
                                    <option value="Ceramista">Ceramista</option>
                                    <option value="Cimenteiro">Cimenteiro</option>
                                    <option value="Cortinas e Persianas">Cortinas e Persianas</option>
                                    <option value="Dedetizadora">Dedetizadora</option>
                                    <option value="Desentupidora">Desentupidora</option>
                                    <option value="Designer de Interiores">Designer de Interiores</option>
                                    <option value="Diarista">Diarista</option>
                                    <option value="Eletricista">Eletricista</option>
                                    <option value="Encanador">Encanador</option>
                                    <option value="Engenheiro Civil">Engenheiro Civil</option>
                                    <option value="Esquadrista">Esquadrista</option>
                                    <option value="Fechadura digital">Fechadura digital</option>
                                    <option value="Gesseiro">Gesseiro</option>
                                    <option value="Iluminação">Iluminação</option>
                                    <option value="Instalador em geral">Instalador em geral</option>
                                    <option value="Marceneiro">Marceneiro</option>
                                    <option value="Montador de Alvenarias e Estofados">Montador de Alvenarias e Estofados</option>
                                    <option value="Pedreiro">Pedreiro</option>
                                    <option value="Pintor">Pintor</option>
                                    <option value="Quadro e Decoração">Quadro e Decoração</option>
                                    <option value="Rede de proteção">Rede de proteção</option>
                                    <option value="Restaurador em geral">Restaurador em geral</option>
                                    <option value="Revestimento">Revestimento</option>
                                    <option value="Vidraceiro">Vidraceiro</option>
                            </select>
                        </div>

                        <!-- lista de profissionais indicados -->
                        <div class="row listaprofissionais" id="listaprofissionais">
                            <span class="spinner">&nbsp;</span>
                        </div>
                        <a href="/indicar.html" class="btn btn-primary mt-4 d-block w-100" role="button">Quero indicar!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>