    {% set pageName = 'Profissionais indicados - Me Indica Aê - Os melhores prestadores de serviços indicados por moradores para o seu condomínio' %}
    {% set pageURL = 'https://meindicaae.netlify.app/profissionais.html' %}
    {% set checkCookie = 'checkCookie()' %}

    {% include "partials/elements/head.html" %}

    <section class="profissionais">
        <div class="container">
            <div class="row justify-content-center"> <!-- vh-100 -->
                <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 col-12">
                    <div class="box text-center">

                        {% include "partials/elements/header.html" %}
                        
                        <h2>Galera indicada por nós!</h2>
                        <p>Veja os últimos adicionados recentemente. <br>Também poderá buscar pela categoria:</p>

                        <!-- parceiro -->
                        <a href="https://www.vivabenx.com.br/empreendimento/viva-benx-vila-mariana" target="_blank" class="logo-parceiro">
                            <img src="images/logo-benx-vlm.png">
                        </a>
                        
                        <!-- fitro -->
                        <div class="form-group text-left mb-5">
                            <label for="categoriaprofissional"><b>Filtrar:</b></label>
                            <select class="form-control" id="categoriaprofissional" name="categoriaprofissional">
                                <option value="todos">Todas as categorias</option>
                                {% include "partials/elements/categorias.html" %}
                            </select>
                        </div>

                        <!-- lista de profissionais indicados -->
                        <div class="row listaprofissionais" id="listaprofissionais">
                            <span class="spinner">&nbsp;</span>
                        </div>

                        <!-- indicar -->
                        <a href="/indicar.html" class="btn btn-primary my-3 d-block w-100" role="button">Quero indicar!</a>

                        <!-- voltar -->
                        <a href="/tunel.html" class="btn btn-primary type-2 w-100 mt-3">Voltar</a>

                        {% include "partials/elements/footer.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>