    {% include "partials/elements/header.html" %}

    <section>
        <div class="container">
            <div class="row justify-content-center"> <!-- vh-100 -->
                <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12 align-self-center">
                    <div class="box text-center">
                        <!-- google safe browsing -->
                        <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fmeindicaae.netlify.app%2F" target="_blank" class="googlesafebrowsing">
                            <img src="images/SafeBrowsing_Icon.png" alt="Google Safe Browsing" title="Google Site Seguro" class="img-fluid">
                            <span>Site seguro</span>
                        </a>
                        <!-- parceiro -->
                        <a href="https://www.vivabenx.com.br/empreendimento/viva-benx-vila-mariana" target="_blank" class="logo-parceiro">
                            <img src="images/logo-benx-vlm.png">
                        </a>
                        <!-- logo -->
                        <a href="/">
                            <img src="images/logo.jpg" class="logo" alt="Me Indica Aê - Indicações de Prestadores de Serviços para o Condomínio" data-toggle="tooltip" data-placement="bottom" title="Me Indica Aê - Indicações de Prestadores de Serviços para o Condomínio">
                        </a>

                        <h1>Me Indica Aê!</h1>
                        <p>Sabe aquele seu pedreiro de confiança ou pintor que deixou seu studio nos trincks!? <strong>Me Indica aê!</strong></p>

                        <script type="text/javascript">
                        var onloadCallback = function() {
                            grecaptcha.render('html_element', {
                            'sitekey' : '6LeqPe8jAAAAAMLKRB5HqobcKAZZ9WlfW9DO_FnQ'
                            });
                        };
                        </script>
                        
                        <form action="?" method="POST">
                        <div id="html_element"></div>
                        <br>
                        <input type="submit" value="Submit">
                        </form>
                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                            async defer>
                        </script>


                        <a href="/profissionais.html" class="mt-5 d-block"><b>Ver profissionais</b></a>
                    </div>
                </div>
            </div>
        </div>
    </section>