
    <footer>
        <div>
            <p class="m-0">
                <img src="images/logo.jpg" class="img-fluid logo-footer mb-3" alt="{{pageName}}" data-toggle="tooltip" data-placement="bottom" title="{{pageName}}">
                <small class="d-block">
                    <a href="#">
                        <u>Termos de Uso e Privacidade</u>
                    </a>
                </small>
                <small class="d-block mt-2">
                    <span>&COPY; 2023 &bullet; Todos os direitos reservados</span>
                </small>
            </p>
        </div>

        <a href="#" class="gotop">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </a>
    </footer>