<!-- google safe browsing -->
<a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fmeindicaae.netlify.app%2F" target="_blank" class="googlesafebrowsing">
    <img src="images/SafeBrowsing_Icon.png" alt="Google Safe Browsing" title="Google Site Seguro" class="img-fluid">
    <span>Site seguro</span>
</a>

<!-- logo -->
<a href="/tunel.html">
    <img src="images/logo.jpg" class="logo" alt="{{pageName}}" data-toggle="tooltip" data-placement="bottom" title="{{pageName}}">
</a>

<h1>Me Indica Aê!</h1>
<p class="subtitle">Os melhores prestadores de serviços indicados <br>por moradores para o seu condomínio.</p>
