    {% set pageName = 'Me Indica Aê - Indicações dos melhores Prestadores de Serviços feitas pelos moradores para o seu Condomínio - Profissionais indicados' %}
    {% set pageURL = 'https://meindicaae.netlify.app/profissionais.html' %}
    {% set checkCookie = 'checkCookie()' %}

    {% include "partials/elements/head.html" %}

    <section class="profissionais">
        <div class="container">
            <div class="row justify-content-center"> <!-- vh-100 -->
                <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12">
                    <div class="box text-center">
                        <!-- google safe browsing -->
                        <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fmeindicaae.netlify.app%2F" target="_blank" class="googlesafebrowsing">
                            <img src="images/SafeBrowsing_Icon.png" alt="Google Safe Browsing" title="Google Site Seguro" class="img-fluid">
                            <span>Site seguro</span>
                        </a>
                        <!-- parceiro -->
                        <a href="https://www.vivabenx.com.br/empreendimento/viva-benx-vila-mariana" target="_blank" class="logo-parceiro">
                            <img src="images/logo-benx-vlm.png">
                        </a>
                        <!-- logo -->
                        <a href="/tunel.html">
                            <img src="images/logo.jpg" class="logo" alt="{{pageName}}" data-toggle="tooltip" data-placement="bottom" title="{{pageName}}">
                        </a>

                        <h1>Me Indica Aê!</h1>
                        <h2>Galera indicada por nós!</h2>
                        <p>Veja os últimos adicionados recentemente. <br>Também poderá buscar por categoria:</p>
                        
                        <!-- fitro -->
                        <div class="form-group text-left mb-4">
                            <label for="categoriaprofissional">Filtrar:</label>
                            <select class="form-control" id="categoriaprofissional" name="categoriaprofissional">
                                <option value="todos">Todas as categorias</option>
                                {% include "partials/elements/categorias.html" %}
                            </select>
                        </div>

                        <!-- lista de profissionais indicados -->
                        <div class="row listaprofissionais" id="listaprofissionais">
                            <span class="spinner">&nbsp;</span>
                        </div>
                        <a href="/indicar.html" class="btn btn-primary my-5 d-block w-100" role="button">Quero indicar!</a>

                        {% include "partials/elements/footer.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>