    {% set pageName = 'Me Indica Aê - Indicações dos melhores Prestadores de Serviços feitas pelos moradores para o seu Condomínio - Cadastro realizado' %}
    {% set pageURL = 'https://meindicaae.netlify.app/sucesso.html' %}
    {% set checkCookie = 'checkCookie()' %}
    
    {% include "partials/elements/head.html" %}

    <section class="sucesso">
        <div class="container">
            <div class="row justify-content-center vh-100">
                <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12 align-self-center">
                    <div class="box text-center">
                        <!-- google safe browsing -->
                        <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fmeindicaae.netlify.app%2F" target="_blank" class="googlesafebrowsing">
                            <img src="images/SafeBrowsing_Icon.png" alt="Google Safe Browsing" title="Google Site Seguro" class="img-fluid">
                            <span>Site seguro</span>
                        </a>
                        <!-- parceiro -->
                        <a href="https://www.vivabenx.com.br/empreendimento/viva-benx-vila-mariana" target="_blank" class="logo-parceiro">
                            <img src="images/logo-benx-vlm.png">
                        </a>
                        <!-- logo -->
                        <a href="/tunel.html">
                            <img src="images/logo.jpg" class="logo" alt="{{pageName}}" data-toggle="tooltip" data-placement="bottom" title="{{pageName}}">
                        </a>

                        <h1>Me Indica Aê!</h1>
                        <h2>Obrigado por compartilhar conosco!</h2>

                        <p>Sua indicação está passando pela moderação, e poderá levar alguns minutos para ser publicada.</p>
                        <a href="/profissionais.html" class="btn btn-primary mt-5 d-block" role="button">Ver profissionais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>