/*
####################################################
VARIABLES
####################################################
*/

// default
$black: black;
$white: white;
$gray: grey;
$bg: #f2f2f2;

// palette
$primary: #555555;
$secondary: #222222;
$third: #d9d9d9;
$fourth: '';
$fifty: '';
$sixty: '';
$seventy: '';
$eighth: '';
$ninth: '';
$tenth: '';
$eleventh: '';
$twelfth: '';
$thirteenth: '';